PORT=3000
HOST=127.0.0.1
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=trading_master
MT5_SYNC_TOKEN=replace_with_a_long_random_token
EXCHANGE_API_KEY=your_exchange_api_key
EXCHANGE_API_SECRET=your_exchange_api_secret
